h1{
    color: red;
    text-align: center;

}

.profile_pic{
    width: 200px;
    height: 200px;
    background-color: red;
    margin: auto;
    
}
.container>ul {
    text-align: start;
}
#education,h2{
    text-align:center;
}
#education,ul{
    text-align:start;
}
#head_page{
    text-align: center;
}
a:link {
    color: brown;
    background-color: transparent;
}
a:visited{
    color: blueviolet;
}
a:active{
    color:yellowgreen;
}
